/* .signup-btn {
    width: 85%;
    padding: 12px;
    background-color: #013569;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    margin-top: 5%;
  }
  
  .signup-btn:hover {
    background-color: #013569; 
  }
  
    .logo-container {
      position: absolute;
      top: 30px;
    }
    
    .styled-logo {
      width: 120px;
      height: auto;
    }

.form-container {
  width: 100%;
  max-width: 400px;
}

.signup-title{
  padding-left: 50%;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.modal-icon {
  font-size: 40px;
  color: green;
  margin-bottom: 10px;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red;
}


 */
