.breadcrumb {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 15px;
}

.separator {
  margin: 0 5px;
}

.active {
  font-weight: bold;
  color: #0056b3;
}

.employee-filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  
}

.tab {
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 6px;
  color: #888;
}

.active-tab {

  border-bottom: 1px solid #ff6600;
  color: var(--orange-color);
}

.employee-table-wrapper {
  overflow-x: auto;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.employee-table thead {
  background: #f3f4f6;
}

.employee-table th,
.employee-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #002855;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.clickable-row:hover {
  background-color: #f1f5f9;
}

.status-completed {
  color: green;
}

.status-pending {
  color: red;
}

.action-download {
  color: var(--orange-color);
}

.action-reminder {
  color: #ff6600;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.view-profile {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.evaluate-all {
  padding: 8px 15px;
  background: #002855;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selected-row {
  border-left: 4px solid #1a237e !important;
  background: inherit !important;
  color: inherit !important;
}
