.breadcrumb {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 500;
  color: #bfc5d2;
  margin-bottom: 24px;
  padding-bottom: 3%;
}

.breadcrumb .active {
  color: var(--primary-color);
}


.department-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}


.department-full-width {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.department-input-label {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 600;
  margin-bottom: 8px;
  color: #222b45;
}

.department-input-field,
.department-input-field-goall,
.department-full-width select {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #e4e9f2;
  border-radius: 8px;
  background: #f7f9fc;
  outline: none;
  transition: border 0.2s;
}

.department-input-field:focus,
.department-input-field-goall:focus,
.department-full-width select:focus {
  border-color: var(--primary-color);
  /* background: #fff; */
}

.department-input-field-goall {
  resize: vertical;
  min-height: 40px;
}

/* Buttons */
.department-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
  width: 100%;
  /* Ensure it takes up full available width */
}


.department-btn {
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  transition: background 0.2s, color 0.2s;
}

.department-cancel {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.department-save {
  background: var(--primary-color);
  color: #fff;
}

.department-save:hover,
.department-cancel:hover {
  opacity: 0.9;
}



.department-form-grid {
  width: 100%;
  margin-top: 16px;
}

.department-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-width {
  flex: 1 1 100%;
}

.error-message {
  color: #dc3545;
  margin-bottom: 16px;
  font-size: 15px;
}

.department-form-actions {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
}

.add-department-container {
  padding-top: 1%;
}