
.Matricestitle {
  text-align: center;


  margin: 2px 0;
  color: var(--primary-color);
  font-size: var(--font-size-xl) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.actions-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 4px; */
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  height: 16px;
  width: 16px;
}



.action-buttons {
  display: flex;
  justify-content: flex-end;
 
}


.view-parameters-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.view-matrix-btn {
  background-color: white;
  color: var(--primary-color);
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.create-matrix-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}
