/* Table Styling */
.performance-matrix-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.performance-matrix-table thead th {
  text-align: center;
  padding: 10px;
  color: var(--primary-color);
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.performance-matrix-table tbody tr {
  height: 48px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.performance-matrix-table tbody tr:hover {
  background-color: var(--selected-text);
}

.performance-matrix-table tbody tr.selected-row {
  background-color: var(--selected-text);
  border-left: 4px solid var(--primary-color);
}

.performance-matrix-table tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--data-text);
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  white-space: nowrap;
  text-align: center;
}

.Matricestitle {
  text-align: center;


  margin: 2px 0;
  color: var(--primary-color);
  font-size: var(--font-size-xl) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.actions-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.actions-cell .divider {
  margin: 0 4px;
  color: #ccc;
}

.actions-header {
  text-align: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  height: 16px;
  width: 16px;
}



.action-buttons {
  display: flex;
  justify-content: flex-end;
 
}


.view-parameters-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.view-matrix-btn {
  background-color: white;
  color: var(--primary-color);
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.create-matrix-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}