/* Logout.css */
.logout-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logout-content {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  h2 {
    color: var(--primary-color);
    font-size: 20px;
    text-align: left;
    margin: 10% 0 5% 0;
    line-height: 1.5;
  }
  
  p {
    color: var(--modal-color);
    text-align: left;
    margin: 5% 0;
    line-height: 1.6;
  }
  
  .logout-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    padding: 5px;
    line-height: 1;
  }
  
  .logout-close-btn:hover {
    color: #000;
  }
  
  .logout-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .logout-cancel-btn {
    background: white;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    color: var(--cancel-color);
    font-size: 16px;
  }
  
  .logout-confirm-btn {
    background: var(--error-color);
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-size: 16px;
  }
  