.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 2rem; */
  background-color: #F5F5F5;
  position: relative;
}

.welcome-logo {
  width: 180px;
  height: auto;
  position: absolute;
  top: 1px;
  left: 0.1px;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.welcome-content h1 {
  font-size: 2rem;
  color: var(--primary-color);
  /* margin-bottom: 1rem; */
  font-weight: 600;
 
}

.welcome-subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 3rem;
}

.welcome-icon-container {
  margin-bottom: 2rem;
}


.welcome-icon-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.add-org-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 0.5rem;
  font-size: var(--font-size-xs) ;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-org-button:hover {
  background-color: #0D1757;
}

@media (max-width: 768px) {
  .welcome-container {
    padding: 1rem;
  }

  .welcome-logo {
    width: 140px;
  }

  .welcome-content h1 {
    font-size: 1.75rem;
  }

  .welcome-subtitle {
    font-size: 1rem;
  }

  .welcome-icon {
    width: 100px;
    height: 100px;
  }
} 