.employee-form-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0;
}

.form-title {
  font-size: var(--font-size-lg);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
  color: var(--primary-color);
  text-align: center;
  margin-bottom:  10px;
  margin-top: 0;
}

.employee-section-title {
 
  text-align: center;
  font-size: var(--font-size-md);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
color: var(--primary-color);
  margin-bottom: 15px;
 
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.progress-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.progress-step {
  width: 100px;
  height: 5px;
  background: var(--no-bar);
  margin: 0 5px;
  border-radius: 5px;
}

.progress-step.active {
  background: var(--progress-bar);
}

/* Button Group */
.form-buttons {
  display: flex;
  justify-content: space-between; 
  padding: 10px 0;
}

.form-buttons.right-align {
  justify-content: flex-end; 
}

.prev-btn {
  border: 1px solid var(--primary-color);
  background: white;
  color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.next-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-employees-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

