@import "../../styles/theme.css";


.row {
  display: flex;
  gap: 20px;
  width: 100%;
}


.full-width {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* Message Input */
textarea.input-field {
  height: 100px;
  resize: none;
}

/* Half-width for recipient */
.half-width {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Button styles */
.button-group {
  position: relative;
  top: 80px; /* Moves buttons down */
}


.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  border: none;

}

.btn.draft {
  background-color: white;
  color: #002855;
  border: 1px solid #002855;
}

.btn.send {
  background-color: #002855;
  color: white;
}
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.toast.show {
  transform: translateX(0);
  opacity: 1;
}
