* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.app-container {
  display: flex;
  height: 100vh;

  background: var(--bgcolor);
}


.sidebar {
  width: 240px;
  background: #ffffff;
  padding: 10px;
  height: 100vh;
  /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}


.logo {

  margin: 0 auto 0px;
}


.menu {
  list-style: none;
}

.menu-item {
  display: flex;
  /* align-items: center; */
  padding: 12px 15px;
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  color: var(--sidebar-text);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 2%;
}

.menu-item .icon {
  margin-right: 12px;


}

.menu-item:hover,
.menu-item.active {
  background: #e6f0ff;
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  color: var(--sidebar-text);
}

.menu-item.logout {
  margin-top: auto;

}


.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.header {
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  position: sticky;
  top: 0;
}


.header-right {
  display: flex;
  align-items: center;
}

.notification-icon {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.language {
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  margin-right: 20px;
  cursor: pointer;
}


.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.profile-text-name {
  color: var(--layout-name);
  font-size: var(--font-size-md);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
}

.role {
  font-size: var(--font-size-xs);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  color: var(--role-color);
}

/* Content Area */
.content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}