@import "../../styles/theme.css";
.change-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
  }
  
  .illustration img {
    max-width: 200px;
   
    
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
  }
  

  
  .input-group {
    width: 100%;
   
    margin-bottom: 20px;
  }
  .input-group label {
    display: block;
    text-align: left;
    width: fit-content; 
    padding: 1px 10px; 
    margin-bottom: 5px;
    margin-left: -5px; 
}

  
  .password-input {
    position: relative;
    width: 100%;
  
  }
  
  .password-input input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .change-btn {
    align-self: flex-end;
    padding: 10px 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  
  .change-btn:hover {
    background-color: #032446;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
  }
  