
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
  --font-primary: 'Open Sans';

}

:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-forty: 40px;
  
}


:root {
  --line-height-xs: 1.4;
  --line-height-sm: 1.5;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --line-height-xl: 2;
}


:root {
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

